@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rock+Salt&display=swap');

:root {
    --primary-color: #14213D;
    --secondary-color: #E5E5E5;
    --accent1-color: #FCA311;
    --accent2-color: #000000;
    --paragraph-color: #FFFFFF;

    --heading-font: 'Comfortaa', serif;
    --paragraph-font: 'Open Sans';

    --nav-backgroung-color: #14213D;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #c6d2ed;
    --nav-hover-background-color:#14213D;

    --overlay-color: rgba(93, 93, 93, 0.692);
}

body {
    font-family: var(--heading-font);
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--nav-backgroung-color);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

/*Navigation*/
.navigation {
	display: flex;
}

.navigation img {
    width: 30rem;
    height: auto;
    margin: 0 0 0 0;
    padding-left: 0;
}

header nav a {
    color: var(--nav-link-color);
    font-size: 20px;
    text-decoration: none;
    padding: 0 2em 0 0;
    font-weight: bold;
}

header nav a:hover {
    color: var(--accent1-color);
}


/*About Page*/
.hero-container {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    text-shadow: 2px 2px 4px #000;
    background-color: var(--overlay-color);
    left: 0;
    bottom: 280px;
    width: 100%;
    text-align: center;
}

article {
    position: absolute;
    left: 0;
    bottom: 50px;
    max-width: 1000px;
    margin-left: 5rem; 
    display: flex;
    background-color: var(--overlay-color);
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


article p {
    color: #FFFFFF;
    font-weight: 400;
    font-style: oblique;
    text-shadow: 1px 2px #14213D;
    margin-left: 1rem;
}

article img {
    order: 2;
    margin-left: 10%;
    width: 20%;
    height: auto;
}

.raftimages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

/*Contact Page*/
.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.employees img {
    width: 100%;
    height: auto;
    aspect-ratio: 12/8;
}

.raftimages img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

figure {
    margin: 3px;
}

figcaption {
    background-color: var(--overlay-color);
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 600px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

form input[type="radio"] {
    width: auto;
}

form .radio-buttons {
    display: flex;
    justify-content: space-between;
}

form .the-checkbox {
    display: flex;
    align-items: center;
    width: 70%;
}

form button {
    font-size: 18px;
    margin-top: 20px;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--nav-hover-link-color);
}

/*Trips Page*/
.trip-container {
    display: grid;
    grid-template-columns: .8fr .7fr auto;
    margin-bottom: 20px;
    align-items: center;
}

.trip-description {
    grid-column: 1;
    margin-left: 20px;
}

.trip-description img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.trip-table {
    grid-column: 2;
}

.book-now {
    grid-column: 3;
    margin-right: 40px;
    margin-left: 50px;
}

.book-now a {
    font-size: 18px;
    padding: 20px 25px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.book-now a:hover {
    background-color: var(--nav-hover-link-color);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.call-to-action a {
    margin-left: 50px;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 25px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.call-to-action a:hover {
    background-color: var(--nav-hover-link-color);
}

/*Home Page*/
.home-container {
    position: relative;
}

.home-container img {
    display: block;
    width: 100%;
    height: auto;
    opacity: .7;
}

.home-container h1 {
    position: absolute;
    background-color: var(--overlay-color);
    bottom: 580px;
    width: 100%;  
}

.home-sections {
position: absolute;
display: flex;
align-items: center;
align-items: center;
}

.offer {
    position: absolute;
    background-color: var(--overlay-color);
    bottom: 350px;
    width: 400px; 
    left: 20px;
}

.offer a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.offer a:hover {
    color: var(--accent1-color);
}

.subscribe {
    position: absolute;
    width: 450px;
    margin-left: 700px;
    padding: 1rem;
    bottom: 10px;
    background-color: var(--overlay-color);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

input, select, textarea {
    padding: 0;
    font-size: .9rem;
}

/*Footer*/
footer {
    background-color: var(--nav-backgroung-color);
    color: var(--nav-link-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

.sociallinks a {
    margin: 0 1rem;
}

p a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

p a:hover {
    color: var(--accent1-color);
}
