@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rock+Salt&display=swap');

:root {
    --primary-color: #14213D;
    --secondary-color: #E5E5E5;
    --accent1-color: #FCA311;
    --accent2-color: #000000;
    --paragraph-color: #FFFFFF;

    --heading-font: 'Comfortaa', serif;
    --paragraph-font: 'Open Sans';

    --nav-backgroung-color: #14213D;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #c6d2ed;
    --nav-hover-background-color:#14213D;

    --overlay-color: rgba(93, 93, 93, 0.692);
}

body {
    font-family: var(--heading-font);
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--nav-backgroung-color);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.navigation {
	display: flex;
}


.navigation img {
    width: 30rem;
    height: auto;
    margin: 0 0 0 0;
    padding-left: 0;
}


header nav a {
    color: var(--nav-link-color);
    font-size: 20px;
    text-decoration: none;
    padding: 0 2em 0 0;
    font-weight: bold;
}

header nav a:hover {
    color: var(--accent1-color);
}



.hero-container {
    position: relative;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.hero h1 {
    position: absolute;
    text-shadow: 2px 2px 4px #000;
    background-color: var(--overlay-color);
    left: 0;
    bottom: 280px;
    width: 100%;
    text-align: center;
}

article {
    position: absolute;
    left: 0;
    bottom: 50px;
    max-width: 1000px;
    margin-left: 5rem;
    
    display: flex;
    background-color: var(--overlay-color);
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


article p {
    color: #FFFFFF;
    font-weight: 400;
    font-style: oblique;
    text-shadow: 1px 2px #14213D;
    margin-left: 1rem;
}

article img {
    order: 2;
    margin-left: 10%;
    width: 20%;
    height: auto;
}

.raftimages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.employees img {
    width: 100%;
    height: auto;
    aspect-ratio: 12/8;
}

.raftimages img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

figure {
    margin: 3px;
}

figcaption {
    background-color: var(--overlay-color);
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 600px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form input[type="radio"] {
    width: auto;
}

form .radio-buttons {
    display: flex;
    justify-content: space-between;
}

form .the-checkbox {
    display: flex;
    align-items: center;
    width: 70%;
}

form button {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 25px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--nav-hover-link-color);
}

footer {
    background-color: var(--nav-backgroung-color);
    color: var(--nav-link-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
  
}


.sociallinks a {
    margin: 0 1rem;
}
